<template>
    <div>
        <div class="col-md-12">
                <form v-on:submit.prevent="addArticle" class="card" novalidate>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Title" v-model="article.title" required>
                        </div>
                        <div class="form-group mb-0">
                            <textarea rows="5" class="form-control" placeholder="Body" v-model="article.body" required></textarea>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
        </div>
        <h2>Latest Articles</h2>
        <div class="row">
            <div class="col-lg-4" 
            v-for="article in articles" 
            v-bind:key="article.id">
                <div class="card">
                    <div class="card-body d-flex flex-column">
                    <h4><a href="#">{{ article.title }}</a></h4>
                    <div class="text-muted">{{ article.body }}</div>
                    <div class="d-flex align-items-center pt-5 mt-auto">
                        <div class="avatar avatar-md mr-3" style="background-image: url(./demo/faces/male/4.jpg)"></div>
                        <div>
                        <a href="./profile.html" class="text-default">John Doe</a>
                        <small class="d-block text-muted">3 minutes ago</small>
                        </div>
                        <div class="ml-auto text-muted">
                        <button @click="deleteArticle(article.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                        <button @click="editArticle(article)" class="btn btn-primary"><i class="fa fa-edit"></i></button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-xs-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item"><a class="page-link" href="#" @click="fetchArticles(pagination.prev_page_url)">Previous</a></li>
                    <li class="page-item disabled"><a class="page-link text-dark" href="#">Page {{pagination.current_page}} of {{pagination.last_page}}</a></li>
                    <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item"><a class="page-link" href="#" @click="fetchArticles(pagination.next_page_url)">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</template>
<script>
    export default{
        data(){
            return{
                articles:[],
                article:{
                    id: '',
                    title: '',
                    body: '',
                },
                article_id: '',
                pagination: {},
                edit: false
            }
        },
        created(){
            this.fetchArticles();
        },
        methods:{
            fetchArticles(page_url){
                let vm = this;
                page_url = page_url || 'articles'
                fetch(page_url)
                .then(res => res.json())
                .then(res => {
                    this.articles = res.data;
                    vm.makePagination(res.meta, res.links);
                })
                .catch(err => console.log(err));
            },
            makePagination(meta, links){
                let pagination = {
                    current_page: meta.current_page,
                    last_page: meta.last_page,
                    next_page_url: links.next,
                    prev_page_url: links.prev
                };
                this.pagination = pagination;
            },
            deleteArticle(id){
                if(confirm('Are you sure?')){
                    fetch(`article/${id}`, {
                        method: 'delete'
                    })
                    .then(res => res.json())
                    .then(data => {
                        alert('Article Removed');
                        this.fetchArticles();
                    })
                    .catch(err => console.warn(xhr.responseText));
                }
            },
            addArticle(){
                if(this.edit === false){
                    // Add
                    fetch(`article`, {
                        method: 'post',
                        body: JSON.stringify(this.article),
                        headers: {
                            'content-type': 'application/json',
                        }
                    })
                    .then(res => res.json())
                    .then(data => {
                        this.article.title= '';
                        this.article.body= '';
                        alert('Article added');
                        this.fetchArticles();
                    })
                    .catch(err => console.log(err));
                }
                else{
                    // Update
                    fetch(`article`, {
                        method: 'put',
                        body: JSON.stringify(this.article),
                        headers: {
                            'content-type': 'application/json',
                        }
                    })
                    .then(res => res.json())
                    .then(data => {
                        this.article.title= '';
                        this.article.body= '';
                        alert('Article updated');
                        this.fetchArticles();
                    })
                    .catch(err => console.log(err));
                }
            },
            editArticle(article){
                this.edit = true;
                this.article.id = article.id;
                this.article.article_id = article.id;
                this.article.title = article.title;
                this.article.body = article.body;
            }
        }
    }
</script>