<template>
    <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
        <div class="container">
        <div class="row align-items-center">
            <div class="col-lg order-lg-first">
            <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                <li class="nav-item">
                <a href="/" class="nav-link"><i class="fe fe-home"></i> Home</a>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </div>
</template>